/*
 * Content
 */
.solarized {
  background-color: #fdf6e3;
  color: #161a00; /* green w 5% lightness */
}
.readability {
  font-family: serif;
  font-size: 18px;
  line-height: 1.5;
}
.tags:before {
  content: 'Tags: '
}
ul.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tags li {
  display: inline;
}

/*
 * Footer
 * Ref: https://github.com/twbs/bootstrap/blob/master/docs/examples/sticky-footer/sticky-footer.css
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
img {
  /* Auto-scale images */
	height: auto;
	max-width: 100%;
}
.hidden {
  display: none;
}
ul input {
  background-color: inherit;
  border: 1px solid #ccc;
  font-size: inherit;
  margin: 0 0 .5ex -20px;
  padding: .5ex 0 .5ex 20px;
  width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}
ul.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer li {
  display: inline;
}
