---
title: Notes
date: 2017-09-24 21:26:04.158000000 Z
permalink: notes/
layout: base

---

<h1>Notes</h1>
<ul>
  <input class="hidden" id="filter" placeholder="Filter">

  {% assign chars = ';,.()[]"!?' | split: "" %}

  {% for post in site.posts %}
  <li>
    <a href="{{post.url}}">{{post.title}}</a>
    <div class="meta">
      {% comment %} Auto-summarize post by removing common words. {% endcomment %}
      {% assign post_words = post.content | strip_html | downcase | split: " " %}
      {% capture clean_words %}
      {% for word in post_words %}
        {% assign clean_word = word %}
        {% for char in chars %}
          {% assign clean_word = clean_word | remove: char %}
        {% endfor %}
        {% unless site.data.stop_words contains word %}
          {{clean_word}}
        {% endunless %}
      {% endfor %}
      {% endcapture %}
      {% assign clean_words = clean_words | split: " " | concat: post.tags %}
      <!--
      {{clean_words|uniq|sort|join:" "}}
      -->

      {{post.tags | sort | join: " "}} {{post.date | date: '%Y'}}
    </div>
  </li>
  {% endfor %}
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/index.js"></script>

