<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="application/opensearchdescription+xml" rel="search" href="http://erikeldridge.com/opensearch.xml"/>
    <link rel="stylesheet" href="/index.css">
    {% seo %}
  </head>
  <body class="readability">
    <div class="content">
      {{ content }}
    </div>
    <ul class="footer">
      <li><a href="https://github.com/erikeldridge">Github</a></li>
      <li><a href="https://erikeldridge.wordpress.com">Blog</a></li>
      <li><a href="https://www.linkedin.com/in/erikeldridge/">LinkedIn</a></li>
    </ul>
  </body>
</html>

