---
layout: default
---

<!-- Bootstrap markup for nested layout -->
<div class="row">
  <div class="span2 toc">

    <!-- Prevent column from collapsing before toc is injected -->
    &nbsp;

  </div>
  <div class="span10 post">

    {{content}}

    <h2>Thoughts? Suggestions?</h2>

    Please reach out on <a href="http://twitter.com/erikeldridge">Twitter</a> and let me know.

    <div id="tweet-box"></div>

    <script type="text/javascript">
    twttr.anywhere(function (T) {
      T("#tweet-box").tweetBox({
        label: false,
        defaultContent: '@erikeldridge '
      });
    });
    </script>

    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $toc = $('#markdown-toc');
      $('.toc').prepend($toc.detach());

      // Toc has position:fixed via stylesheet
      $toc.css('top',$toc.position().top);

      // Adjust toc item heights based on content heights
      var $links = $toc.find('a');
      var docHeight = $(document).height();
      $links.each(function(i){
        var $currentLink = $(this);
        var $currentHeader = $( $currentLink.attr('href') );
        var nextLink = $links.get(i + 1);
        if(!nextLink) return;
        var $nextHeader = $( nextLink.getAttribute('href') );

        // 300 is arbitrary max height for toc
        var height = ($nextHeader.position().top - $currentHeader.position().top) / docHeight * 300;

        if(height < $currentLink.height()) return;
        $currentLink.height(height+'px');
      });

    });
    </script>

  </div>
</div>