---
layout: default
---

<!-- Bootstrap markup for nested layout -->
<div class="row">
  <div class="span2 toc">

    <!-- Prevent column from collapsing before toc is injected -->
    &nbsp;

  </div>
  <div class="span10 post">

    {{content}}

    <h2>Thoughts? Suggestions?</h2>

    Please reach out on <a href="http://twitter.com/erikeldridge">Twitter</a> and let me know.

    <div id="tweet-box"></div>

    <script type="text/javascript">
    twttr.anywhere(function (T) {
      T("#tweet-box").tweetBox({
        label: false,
        defaultContent: '@erikeldridge '
      });
    });
    </script>

    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $toc = $('#markdown-toc');
      $toc.addClass('nav nav-pills nav-stacked');

      if(location.hash){
        $toc.find('a[href='+location.hash+']').parent().addClass('active');
      }else{
        $toc.find('li:first').addClass('active');
      }

      // Move to generated toc dom into left column & show it
      $('.toc').prepend($toc.detach().css('display', 'block'));

      // Adjust toc item heights based on content heights
      var $links = $toc.find('a');
      var $items = $toc.find('li');
      var docHeight = $(document).height();

      // scroll suppport
      // var offsets = [];
      // var targets = [];

      $links.each(function(i){
        var $currentLink = $(this);
        var $currentHeader = $( $currentLink.attr('href') );
        var nextLink = $links.get(i + 1);
        if(!nextLink) return;
        var $nextHeader = $( nextLink.getAttribute('href') );

        // scroll support
        // targets.push( $currentLink.attr('href') );
        // offsets.push( $currentHeader.position().top );

        var height = ($nextHeader.position().top - $currentHeader.position().top) / docHeight * 300;
        if(height < $currentLink.height()) return;
        $currentLink.height(height+'px');
      });

      $toc.delegate('li', 'click', function(){
        $items.removeClass('active');
        $(this).addClass('active');
      });

      // scroll support
      // $(document).delegate('body', 'click,scroll', function(){
      //   var scrollTop = $(this).scrollTop();
      //   for(var i = targets.length - 1; i--;){
      //     if(scrollTop > offsets[i]){
      //       $toc.find('.active').removeClass('active');
      //       $toc.find('a[href='+targets[i]+']').parent().addClass('active');
      //       return;
      //     }
      //   }
      // });

    });
    </script>

  </div>
</div>